# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# VS Code / IDEs
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Project specifics
data/
*.log
uv.lock
